<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>КТ4 Парсинг</title>
 </head>
 <body>
  <p style="text-align: center"><a href="/bs"><button>Библиотека</button></a></p>
  <p style="text-align: center"><a href="/re"><button>Регулярные выражения</button></a></p>
 </body>
</html>